* {
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}


button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    max-width: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*  */

.proma{
    position: absolute;
    width: 1510px;
    height: 1024px;
    margin: 0 auto;
    padding-top: 177px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(/images/Rectangle.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    color: #FFFFFF;
    text-align: center;
}

.proma_subtitle {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 64px;
}

.proma_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 144px;
    line-height: 1.2;    
    margin-bottom: 116px;
}
.proma_linc { 
    display: inline-block;
    max-width: 370px;
    width: 100%;
    padding: 25px 60px;
    color:inherit;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase; 
}